<nav class="navbar bg-lime-green">
  <div class="container">
      <div>
        <a href=""><img src="/assets/images/Carida-logo.png" alt="Carida Logo" height="50">Recortar imagen</a>
      </div>
      <div class="">
        <a class="btn btn-light mx-2 btn-sm" aria-current="page" href="/">Home</a>
        <a class="btn btn-light mx-2 btn-sm" aria-current="page" href="/create">Create</a>
        <a class="btn btn-light mx-2 btn-sm" aria-current="page" href="/all">All employees</a>
        <a class="btn btn-light mx-2 btn-sm" aria-current="page" href="/edit">Edit employee</a>
      </div>
  </div>

</nav>
