


<div *ngIf="!isLoged">
  <nav class="navbar bg-lime-green">
    <div class="container">
        <div class="mt-3">
          <a><img src="/assets/images/Carida-logoV2.png" alt="Carida Logo" height="50" (click)="checkIfUserIsLogedIndex()"></a>
        </div>
        <div class="">

          <a class="btn btn-light mx-2 btn-sm" aria-current="page" routerLinkActive="active" [routerLink]="['/login']" (click)="checkIfUserIsLoged()">Login</a>
          <a class="btn btn-light mx-2 btn-sm" aria-current="page" routerLinkActive="active" [routerLink]="['/register']" (click)="checkIfUserIsLoged()">Register</a>

        </div>
    </div>
  </nav>
  <hr class="mt-0">
</div>

<div *ngIf="isLoged">
  <nav class="navbar bg-lime-green">
    <div class="container">
        <div class="mt-3">
          <a [routerLink]="['/']" ><img src="/assets/images/Carida-logoV2.png" alt="Carida Logo" height="50" (click)="checkIfUserIsLoged()"></a>
        </div>
        <div class="">

          <a class="btn btn-light mx-2 btn-sm" aria-current="page" routerLinkActive="active" [routerLink]="['/trips']">Trips</a>
          <a class="btn btn-light mx-2 btn-sm" aria-current="page" routerLinkActive="active" [routerLink]="['/newtrip']">Create a trip</a>
          <a class="btn btn-light mx-2 btn-sm" aria-current="page" routerLinkActive="active" [routerLink]="['/mytrips']">My trips</a>


        </div>
    </div>
  </nav>
  <hr class="mt-0">
</div>


