<div class="container bg-palid-green rounded shadow" id="main-container">
  <p class="text-center fs-1 p-4 fw-bold">Create a trip</p>
  <p class="text-center fs-5 pb-4">Introduce the data about your trip down below</p>

  <form class="row pb-5">

    <div class="col-3"></div>
    <div class="col-3">
      <div class="mb-3">
        <label for="date" class="form-label fs-5">Select a day</label>
        <input type="date" class="form-control" id="date" name="date">
      </div>
    </div>
    <div class="col-3">
      <div class="mb-3">
        <label for="hour" class="form-label fs-5">Select an hour</label>
        <input type="time" class="form-control" id="hour" name="hour">
      </div>
    </div>
    <div class="col-3"></div>



    <div class="col-3"></div>
    <div class="col-6">
      <div class="mb-3 row">
        <label for="StartingPoint" class="col-sm-3 col-form-label fs-5">Starting point</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="StartingPoint" name = "StartingPoint">
        </div>
      </div>
    </div>
    <div class="col-1">
      <a class="btn btn-outline-dark" (click)="onOpenModal('initial')" data-placement="top" data-original-title="Initial">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>
      </a>
    </div>
    <div class="col-2"></div>


    <div class="col-3"></div>
    <div class="col-6">
      <div class="mb-3 row">
        <label for="Destination" class="col-sm-3 col-form-label fs-5">Destination</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="Destination" name = "Destination">
        </div>
      </div>
    </div>
    <div class="col-3"></div>


    <div class="col-4"></div>
    <div class="col-4">
      <div class="mb-3 row">
        <label for="price" class="col-sm-3 col-form-label fs-5">Price (€)</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="price" name = "price">
        </div>
      </div>
    </div>
    <div class="col-4"></div>


    <div class="col-3"></div>
    <div class="col-6">
      <input type="submit" class="btn btn-primary mt-4" value="Create the trip">
    </div>
    <div class="col-3"></div>

  </form>

</div>

<!-- Add Initial MarkPoint Modal -->
<div class="modal fade" id="addInitialMarkPointModal" tabindex="-1" role="dialog" aria-labelledby="addInitialMarkPointModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addInitialMarkPointModalLabel">Select a initial position in the map:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
       </div>
       <div class="modal-body">
          <google-map height="400px"
              width="470px"
              [center]="center"
              [zoom]="zoom"
              (mapClick)="addMarker($event)">
          <map-marker #marker="mapMarker"
              [position]="markerPosition"
              (mapClick)="openInfoWindow(marker)"></map-marker>
          <map-info-window>Lat: {{display?.lat}}. Long: {{display?.lng}}</map-info-window>
          </google-map>
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" >Save</button>
      </div>
    </div>
  </div>
</div>