<div class="container bg-palid-green rounded shadow">
  <p class="text-center fs-1 p-4 fw-bold">Create a trip</p>
  <p class="text-center fs-5 pb-4">Introduce the data about your trip down below</p>

  <form class="row pb-5">

    <div class="col-3"></div>
    <div class="col-3">
      <div class="mb-3">
        <label for="date" class="form-label fs-5">Select a day</label>
        <input type="date" class="form-control" id="date" name="date">
      </div>
    </div>
    <div class="col-3">
      <div class="mb-3">
        <label for="hour" class="form-label fs-5">Select an hour</label>
        <input type="time" class="form-control" id="hour" name="hour">
      </div>
    </div>
    <div class="col-3"></div>



    <div class="col-3"></div>
    <div class="col-6">
      <div class="mb-3 row">
        <label for="StartingPoint" class="col-sm-3 col-form-label fs-5">Starting point</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="StartingPoint" name = "StartingPoint">
        </div>
      </div>
    </div>
    <div class="col-3"></div>


    <div class="col-3"></div>
    <div class="col-6">
      <div class="mb-3 row">
        <label for="Destination" class="col-sm-3 col-form-label fs-5">Destination</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="Destination" name = "Destination">
        </div>
      </div>
    </div>
    <div class="col-3"></div>


    <div class="col-4"></div>
    <div class="col-4">
      <div class="mb-3 row">
        <label for="price" class="col-sm-3 col-form-label fs-5">Price (€)</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="price" name = "price">
        </div>
      </div>
    </div>
    <div class="col-4"></div>


    <div class="col-3"></div>
    <div class="col-6">
      <input type="submit" class="btn btn-primary mt-4" value="Create the trip">
    </div>
    <div class="col-3"></div>

  </form>

</div>
