<div class="container bg-palid-green rounded shadow">
    <div class="row d-flex justify-content-center align-items-center h-100">

        <h2 class="fw-bold mb-2 text-center p-4">Create a trip</h2>
        <p class="text-center fs-5 pb-4">Introduce the data about your trip down below</p>  

        <div class="col-6 form-outline form-white mb-4">
            <label class="form-label" for="typeDateX">Date of the trip:</label>
            <input type="date" id="typeDateX" class="form-control form-control-lg" />
        </div>

        <div class="col-6 form-outline form-white mb-4">
            <label class="form-label" for="typeTimeX">Time of the trip:</label>
            <input type="time" id="typeTimeX" class="form-control form-control-lg" />
        </div>

        <div class="col-md-8 col-lg-8 col-xl-8 form-outline form-white mb-4">
            <label class="form-label" for="typeInitialX">Initial point:</label>
            <input type="text" id="typeInitialX" class="form-control form-control-lg" />
        </div>

        <div class="col-md-8 col-lg-8 col-xl-8 form-outline form-white mb-4">
            <label class="form-label" for="typeDestinationX">Destination:</label>
            <input type="text" id="typeDestinationX" class="form-control form-control-lg" />
        </div>

        <div class="col-md-8 col-lg-8 col-xl-8 form-outline form-white mb-4 d-flex justify-content-center">
            <label class="col-3 form-label" for="typePriceX">Price per passanger:</label>
            <input type="number" id="typePriceX" class="form-control form-control-lg" />
            <label class="form-label fs-1" for="typePriceX">€</label>
        </div>

        <button class="col-5 btn btn-outline-dark btn-lg px-5 mt-3 mb-5" type="submit">Create trip</button>

    </div>
    

</div>