<div class="container bg-palid-green rounded shadow">
  <p class="text-center fs-1 p-4 fw-bold">Log in</p>

  <form class="row pb-5">

    <div class="col-4"></div>
    <div class="col-4">
      <div class="mb-3">
        <label for="name" class="form-label">Email</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.email" aria-describedby="name">
      </div>
    </div>
    <div class="col-4"></div>

    <div class="col-4"></div>
    <div class="col-4">
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password">
      </div>
    </div>
    <div class="col-4"></div>


    <div class="col-4"></div>
    <div class="col-4">
      <input type="submit" class="btn btn-primary" value="Log in" (click)="findUser()">
    </div>
    <div class="col-4"></div>

    <p class="mb-0 text-center p-4">Don't have an account? <a href="/register" class="text-blue-50 fw-bold">Sign Up</a></p>
  </form>
</div>





































