<div class="container bg-palid-green rounded shadow">
  <p class="text-center fs-1 p-4 fw-bold">Welcome to Carida!</p>
  <p class="text-center fs-3 pb-4">Carida is a car sharing app where you can be a driver or a passenger.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="p-5">
        <div class="card mb-3">
          <img src="/assets/images/Driver.jpg" class="card-img-top" alt="Driver photo">
          <div class="card-body">
            <h5 class="card-title">Driver</h5>
            <p class="card-text">A driver can create a trip from point A to point B and give it a price.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>


    <div class="col-6">
      <div class="p-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Passenger</h5>
            <p class="card-text">A passenger can select a trip from those available and be one of the passengers.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
          <img src="/assets/images/Passengers.jpg" class="card-img-bottom" alt="Driver photo">
        </div>
      </div>
    </div>
  </div>



</div>
